
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');
*{
    box-sizing: border-box;
}
@font-face {
    font-family: 'SUIT-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

body{
    font-family: 'Noto Sans KR', sans-serif !important;
    overflow-x: hidden;
}

:root {
    --vh: 100%;
	--fn-sans: 'Noto Sans KR', sans-serif;
	--fn-suit: 'SUIT-Regular';
    --fn-gmk-lt: 'GmarketSansLight';
    --fn-gmk-md: 'GmarketSansMedium';
    --fn-gmk-bd: 'GmarketSansBold';
    --color-gray: #abafb3;
    --color-blue: #0152bd;
    --btn-color-blue: #1f51a2;
    --bd-color: rgba(0, 0, 0, 0.1);
}

.blind {
    width: 0;
    height: 0;
    text-indent: -9999px;
    padding: 0;
    margin: 0;
    visibility: hidden;
}
